version: 1.0.0.{build}

build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86
  - set "PATH=%CYG_ROOT%\bin;%PATH%"
  - git clone https://github.com/ivmai/bdwgc.git
  - cmake -G "NMake Makefiles"
  - cmake --build . --config Release
